
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.nav-item a, .nav-item .nav-link {
    text-decoration: none;
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    cursor: pointer;
}

.nav-item a:active {
    background-color: rgba(255, 255, 255, 0.25);
    color: white !important;
}

.nav-item a:hover {
    background-color: rgba(255,255,255,0.1);
/*    color: white !important;*/
}

